@using ReadingClubWebApp.Data.Enum
@using ReadingClubWebApp.ViewModels
@model CreateBookViewModel

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="class-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author">Author</label>
        <input asp-for="Author" class="form-control" placeholder="Author">
        <span asp-validation-for="Author" class="class-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Description" class="class-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre">Genre</label>
        <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<Genre>()" class="form-control form-control-lg">
            <option>...</option>
        </select>
        <span asp-validation-for="Genre" class="class-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="class-danger"></span>
    </div>
    <h1></h1>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>